/* ---------- FONT ---------- */

@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../font/SourceCodePro-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(../font/SourceCodePro-Light.ttf) format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../font/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(../font/OpenSans-Light.ttf) format('truetype');
}


:root {
	--foreground: #747474;
	--background: rgb(30, 30, 31);
	--foreground-light: #191919;
	--background-light: #fafafa;
	--font-size: 12px;
}

/* ---------- DOCUMENT ---------- */

body {
	color: var(--foreground);
	font-family: 'Open Sans', sans-serif;
	font-size: var(--font-size);
	overflow: hidden;
	margin: 0;
	background-color: transparent;
}

body.rounded {
	margin: 6px 8px 8px 6px;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	transition: 0.2s margin, border-radius, background-color;	
}

body.fullscreen {
	margin: 0px;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	border-radius: 0px;
	background-color: black;
}

body.light {
	color: var(--foreground-light);
}


/* ---------- HEADER ---------- */


.overlay {
	display: none;
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #00000000;
	backdrop-filter: blur(0px);
	transition: 0.3s;
}

.overlay.open {
	background: #00000066;
	backdrop-filter: blur(4px);
}

.panel {
	/*	position: absolute;*/
	padding: 16px 12px;
	/*top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	width: 70%;
	min-height: 20%;
	*/
	border: 1px solid #bdbdbd;
	background-color: var(--background);
	border-radius: 8px;
	border: 1px solid #2d2d2d;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}


/* ---------- BODY ---------- */

#content {
	margin-top: 6px;
}

#content,
#preview-wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	flex: 1;
}

#main-divider {
	display: flex;
	height: 100%;
	box-shadow: 0px 2px 20px #0000006e;
	z-index: 1;
	overflow: hidden;
}

/*
#preview-wrapper {
	min-width: 0;
	flex: 1;
	border: none;
	background: #ffffff04;
}
*/

#embed-content {

	background: #ffffff04;
}

#embed-content.html-style {
	background: #a9a9a9;
}

#embed-content-dev-view {
	flex: 1;
	min-height: 0;
}






/* ---------- CONSOLE ---------- */


/* ---------- FOOTER ---------- */

footer {
	font-size: 0.9em;
}

footer select {
	background: transparent;
	border: none;
	color: inherit;
	outline: none;
	text-align-last: right;
	-webkit-appearance: none;
}

footer select option {
	background: var(--background);
	color: var(--foreground);
	padding: 10px 6px;
}


#hidden-settings {
	display: none;
}



.select-box {
	position: relative;
}

.select-box .options-container {
	padding: 0;

	max-height: 0;
	opacity: 0;
	transition: 0.3s;
	overflow: hidden;
	overflow-y: scroll;

	position: absolute;
	bottom: 30px;
	right: 0;
	z-index: 10;
}

.select-box .options-container.active {
	max-height: 70vh;
	opacity: 1;
}

.select-box .option,
.selected {
	padding: 8px 24px;
	cursor: pointer;
	transition: 0.3s;
}

.select-box .option.active {
	border-left: 2px solid #2443f0;
	background: #ffffff03;
}

.selected {
	padding: 0;
	border-radius: 8px;
	text-transform: lowercase;
}

.selected:hover {
	background: rgba(255, 255, 255, 0.01);
}

.select-box .option:hover {
	color: white;
	background-color: #2443f0;
	box-shadow: 0px 0px 26px 1px #2844e058;
}




/* ---------- STATUS ---------- */

#status-display {
	height: 2px;
	position: relative;
	z-index: 4;
}

#status-display #status-bar {
	background: transparent;
	position: absolute;
	display: block;
	height: 100%;
	left: 0;
	top: 0;
}

#status-display.confirm {
	animation: confirm 4s;
}

#status-display.warn {
	animation: warn 4s;
}

#status-display.error {
	animation: err 4s;
}

#status-display #status-bar.load {
	animation: load 2s cubic-bezier(0.860, 0.000, 0.070, 1.000) infinite;
}

@keyframes confirm {
	0% {
		background-color: #4caf5000;
	}

	3% {
		background-color: #4caf50;
		box-shadow: 0px 0px 20px 1px #4caf50
	}

	100% {
		background-color: #4caf5000;
	}
}

@keyframes warn {
	0% {
		background-color: #ffeb3b00;
	}

	3% {
		background-color: #ffeb3b;
		box-shadow: 0px 0px 20px 1px #ffeb3b
	}

	100% {
		background-color: #ffeb3b00;
	}
}

@keyframes err {
	0% {
		background-color: #f4433600;
	}

	3% {
		background-color: #f44336;
		box-shadow: 0px 0px 20px 1px #f44336
	}

	100% {
		background-color: #f4433600;
	}
}

@keyframes load {
	0% {
		width: 0%;
		left: 0%;
		background-color: #2443f0;
		box-shadow: 0px 0px 20px 1px #2844e04c;
	}

	50% {
		width: 100%;
		left: 0%;
		background-color: #2443f0;
		box-shadow: 0px 0px 26px 1px #2844e0;
	}

	100% {
		width: 0%;
		left: 100%;
		background-color: #2443f0;
		box-shadow: 0px 0px 20px 1px #2844e04c;
	}
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(244, 67, 54, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(244, 67, 54, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(244, 67, 54, 0);
	}
}






.resizer[data-direction="horizontal"] {
	cursor: ew-resize;
	height: 100%;
	padding: 0px 5px;
	margin: 0px -5px 0px -6px;
	z-index: 3;
	user-select: none;
	transition: 0.3s;
}

.resizer[data-direction="horizontal"]:after {
	content: "";
	height: 100%;
	width: 1px;
	background: transparent;
	display: block;
	transition: 0.3s;
}

.resizer[data-direction="horizontal"]:hover {
	padding: 0px 10px;
	margin: 0px -10px 0px -12px;
}

.resizer[data-direction="horizontal"]:hover:after {
	width: 2px;
}


.resizer[data-direction="vertical"] {
	cursor: ns-resize;
	width: 100%;
	padding: 5px 0px;
	margin: -6px 0px -5px 0px;
	z-index: 3;
	user-select: none;
	transition: 0.3s;
}

.resizer[data-direction="vertical"]:after {
	content: "";
	width: 100%;
	height: 1px;
	background: transparent;
	display: block;
	transition: 0.3s;
}

.resizer[data-direction="vertical"]:hover {
	padding: 10px 0px;
	margin: -12px 0px -10px 0px;
}

.resizer[data-direction="vertical"]:hover:after {
	height: 2px;
}

.resizer[data-direction="vertical"]:hover:after,
.resizer[data-direction="horizontal"]:hover:after {
	background: #7272776b;
}