html{
	padding: 1px;
}

body{
	background-color: #212121;
	color: #616161;
	font-family: monospace;
	overflow: hidden;
	margin: 0;
}

#container{
	display: grid;
	grid-template-rows: auto 1fr auto 2px;
	height: 100%;
}

header{  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header h1{
	font-size: 1em;
	font-weight: 100;
	margin: 0;
}

header #window-buttons a{
	-webkit-app-region: no-drag;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	outline: none;
	background-color: transparent;
	border: 1px solid #616161;
	transition: 0.3s;
}
header #window-buttons a:hover{
	/*transform: scale(1.2);*/
}

header #window-buttons a#close-button:hover{
	background-color: #f44336;
	border: 1px solid #f44336;
}
header #window-buttons a#close-button{
	/*border: 1px solid #f44336;*/
}
header #window-buttons a#min-button:hover{
	background-color: #4caf50;
	border: 1px solid #4caf50;
}
header #window-buttons a#min-button{
	/*border: 1px solid #4caf50;*/
}
header #window-buttons a#max-button:hover{
	background-color: #ffeb3b;
	border: 1px solid #ffeb3b;
}
header #window-buttons a#max-button{
	/*border: 1px solid #ffeb3b;*/
}

header,
footer{
	padding: 10px 16px;
	-webkit-user-select: none;
	-webkit-app-region: drag;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}  

.CodeMirror{
	cursor: text;
}

/* SCROLL BAR */
.CodeMirror-vscrollbar::-webkit-scrollbar {
	width: 6px;
}
.CodeMirror-hscrollbar::-webkit-scrollbar {
	height: 6px;
}
.CodeMirror-vscrollbar::-webkit-scrollbar-track,
.CodeMirror-hscrollbar::-webkit-scrollbar-track {
	background: transparent;
}
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb,
.CodeMirror-hscrollbar::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 3px;
}
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb:hover,
.CodeMirror-hscrollbar::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.CodeMirror-scrollbar-filler{
	background-color: transparent !important;
}