/* ---------- FONT ---------- */

@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../font/SourceCodePro-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(../font/SourceCodePro-Light.ttf) format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../font/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(../font/OpenSans-Light.ttf) format('truetype');
}


:root {
	--foreground: #747474;
	--background: #212121;
	--foreground-light: #191919;
	--background-light: #fafafa;
	--font-size: 12px;
}

/* ---------- DOCUMENT ---------- */

html{
	/*padding: 1px;*/
}

body{
	color: var(--foreground);
	font-family: 'Open Sans', sans-serif;	
	font-size: var(--font-size);
	overflow: hidden;
	margin: 0;
}
body.rounded{
	margin: 6px 8px 8px 6px;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	transition: 0.2s margin, border-radius, background-color;
	background-color: transparent;	
}
body.fullscreen{
	margin: 0px;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	border-radius: 0px;	
	background-color: black;
}
body.light{
	color: var(--foreground-light);
}

#container{
	background-color: var(--background);
	max-height: calc(100vh - 2px);
    height: calc(100vh - 2px);
    overflow: hidden;
    display: grid;
    grid-template-rows: min-content auto min-content min-content;
	border: 1px solid #2d2d2d;
	position: relative;
}
body.rounded #container{
	border-radius: 8px;
}
body.rounded:not(.fullscreen) #container{
	max-height: calc(100vh - 16px);
    height: calc(100vh - 16px);
}

#container:before {
    content: "";
    background-image: url(../img/texture3.jpg);
    background-size: 91px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    display: block;
    pointer-events: none;
    opacity: .06;
}
body.light #container{
	background-color: var(--background-light);
    border: 1px solid #bdbdbd;
}


/* ---------- HEADER ---------- */

header{  
	-webkit-user-select: none;
	-webkit-app-region: drag;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

header #window-buttons{
	-webkit-app-region: no-drag;
	display: flex;
	align-items: center;
	height: 100%;
}
header #window-buttons a{
	-webkit-app-region: no-drag;
	display: block;
	width: 9px;
	height: 9px;
	border-radius: 100%;
	outline: none;
	background-color: transparent;
	border: 1px solid var(--foreground);
	transition: 0.3s;
	margin-left: 8px;
}

header #window-buttons a#pin-button{
    margin-right: 10px;
	opacity: 0;
	transition-delay: 1s;
}
header #window-buttons:hover a#pin-button,
header #window-buttons a#pin-button.pinned{
	opacity: 1;
	transition-delay: 0s;
}
header #window-buttons a#pin-button:hover{
	background-color: #c7c7c7;
	border: 1px solid #c7c7c7;
	box-shadow: 0px 0px 30px 1px #c7c7c7;
}
header #window-buttons a#pin-button.pinned{
	background-color: #a7a7a7;
	border: 1px solid #a7a7a7;
}
header #window-buttons a#close-button:hover{
	background-color: #f44336;
	border: 1px solid #f44336;
	box-shadow: 0px 0px 30px 1px #f44336;
}
header #window-buttons a#close-button{
	/*border: 1px solid #f44336;*/
}
header #window-buttons a#min-button:hover{
	background-color: #4caf50;
	border: 1px solid #4caf50;	
	box-shadow: 0px 0px 30px 1px #4caf50;
}
header #window-buttons a#min-button{
	/*border: 1px solid #4caf50;*/
}
header #window-buttons a#max-button:hover{
	background-color: #ffeb3b;
	border: 1px solid #ffeb3b;
	box-shadow: 0px 0px 30px 1px #ffeb3b;
}
header #window-buttons a#max-button{
	/*border: 1px solid #ffeb3b;*/
}

header,
footer{
	padding: 10px 16px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	z-index: 2;
	background-color: inherit;
}  

.overlay{
	display: none;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000000;
    backdrop-filter: blur(0px);
	transition: 0.3s;
}
.overlay.open{
    background: #00000066;
    backdrop-filter: blur(4px);
}
.panel{
    position: absolute;
    padding: 16px 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    min-height: 20%;
    z-index: 1;
    border: 1px solid #bdbdbd;
    border-radius: 8px;
    background-color: var(--background);
    border-radius: 8px;
    border: 1px solid #2d2d2d;
}


/* ---------- BODY ---------- */

#content{
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#main-divider{
	display: flex;
	height: 100%;
	box-shadow: 0px 2px 20px #0000006e;
    z-index: 1;
	overflow: hidden;
}

#main-divider webview{
	min-width: 0;
	flex: 1;
    border: none;
	background: #ffffff04;
}

#editor-wrapper{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
#main-text-area{
	margin: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-family: 'Source Code Pro', monospace;
	font-weight: 400;
	cursor: text;
    margin-right: 4px;
	padding-right: 4px;
	background-color: transparent;
}
.ace_gutter{
	background-color: transparent !important;
}

.ace_gutter-active-line {
	color: white;
	background-color: transparent !important;
}

.ace_dark.ace_editor.ace_autocomplete,
.ace_search{
    backdrop-filter: blur(8px);
    background: rgb(30 30 30 / 55%);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    font-family: inherit;
	border: 1px solid #2d2d2d;
}
.ace_search.right{
	border-radius: 0px 0px 4px 4px;
    border: 1px solid #2d2d2d;
    border-top: 0 none;
}
.ace_dark.ace_editor.ace_autocomplete{
	border-radius: 0px 4px 4px 0px;
	padding: 0;
	border-radius: 4px;
}
.ace_dark.ace_editor.ace_autocomplete .ace_marker-layer .ace_active-line {
    background-color: #101010b5;
}


.ace_search .ace_search_form > *,
.ace_search .ace_replace_form > *{
	background: var(--background);
	border-color: #2d2d2d;
	color: var(--foreground);
}
.ace_search input{
	color: white !important;
}
.ace_button,
.ace_searchbtn{
	color: var(--foreground);
	transition:0.3s;
}
.ace_button:hover,
.ace_searchbtn:hover{
	color: white;
	background: inherit ;
}
.ace_searchbtn:after{
	transition:0.3s;
}
.ace_searchbtn:hover:after{
	border-color: white;
}



/* ---------- CONSOLE ---------- */
#console{
	flex: 1;
	height: 0;
	overflow-y: auto;	
	background: #191919;
	display: flex;
	flex-direction: column;
	position: relative;	
}

#console #console-in,
#console #console-out{
	white-space:pre-wrap;
	box-sizing: border-box;
	display: block;
	width: 100%;	
	border: none;
	outline: none;
	margin: 0;
	background: transparent;
	font-size: var(--font-size);
	font-family: 'Source Code Pro', monospace;
}
#console #console-out{
	background: #1b1b1b;
	color: #a9a9a9;
	padding: 10px 0px;
}
#console #console-in{	
	color: #ffffff;
	flex: 1;
	resize: none;
	display: inline-table;
	padding: 4px 8px;
}

#console #process-indicator{	
    position: fixed;
    display: block;
    right: 24px;
    bottom: 54px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #f44336;
    opacity: 0;
	transition: 0.3s;
	box-shadow: 0 0 0 0 rgba(244, 67, 54, 0.1);
	transform: scale(1);
	animation: pulse 2s infinite;
}
#console #process-indicator.active{
	opacity: 1;
}

#console #console-out > div{
	padding: 0px 8px;
}

#console #console-out .user{	
	color: #f1f1f1;
    margin: 10px 0px;
	padding: 4px 8px;
    background: #1d1d1d;
}

#console #console-out .info{
	color: #838383;
}
#console #console-out .confirm{
	color: #4caf50;
}
#console #console-out .warn{
	color: #ffeb3b;
}
#console #console-out .error{
	color: #f44336;
}
#console #console-out .error svg{
	width: 10px;
	height: 10px;
	fill: #f44336;
	margin-right: 5px;
	vertical-align: -1px;
}
.jump-to-line {
    color: inherit;
}


/* ---------- FOOTER ---------- */

footer select{
	background: transparent;
    border: none;
    color: inherit;
    outline: none;
    font-size: inherit;
    text-align-last: right;
	-webkit-appearance: none;
}

#hidden-settings{
	display: none;
}



/* ---------- STATUS ---------- */

#status-display{
	height: 2px;
	position: relative;
	z-index: 4;
}

#status-display #status-bar{
	background: transparent;
	position: absolute;
	display: block;
    height: 100%;
    left: 0;
    top: 0;
}

#status-display.confirm {animation: confirm 4s; }
#status-display.warn {animation: warn 4s; }
#status-display.error {animation: err 4s; }
#status-display #status-bar.load {
	animation: load 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes confirm {
	0% {background-color: #4caf5000;}
	3% {background-color: #4caf50;box-shadow: 0px 0px 20px 1px #4caf50}
	100% {background-color: #4caf5000;}
}

@keyframes warn {
	0% {background-color: #ffeb3b00;}
	3% {background-color: #ffeb3b;box-shadow: 0px 0px 20px 1px #ffeb3b}
	100% {background-color: #ffeb3b00;}
}

@keyframes err {
	0% {background-color: #f4433600;}
	3% {background-color: #f44336;box-shadow: 0px 0px 20px 1px #f44336}
	100% {background-color: #f4433600;}
}

@keyframes load {
	0% {width: 0%;
		left: 0%; 
		background-color: #2443f0; 
		box-shadow: 0px 0px 20px 1px #2844e0;
	}
	50% {width: 20%;background-color: #2443f0; 
		box-shadow: 0px 0px 26px 1px #2844e0;
	}
	100% {width: 0%;left: 100%;background-color: #2443f0; 
		box-shadow: 0px 0px 20px 1px #2844e0;
	}
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(244, 67, 54, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(244, 67, 54, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(244, 67, 54, 0);
	}
}






.resizer[data-direction="horizontal"] {
	cursor: ew-resize;
	height: 100%;
	padding: 0px 5px;
	margin: 0px -5px 0px -6px;
	z-index: 3;
	user-select: none;
	transition: 0.3s;
}
.resizer[data-direction="horizontal"]:after{
	content:"";
	height: 100%;
	width: 1px;
	background: transparent;
	display: block;
	transition: 0.3s;
}
.resizer[data-direction="horizontal"]:hover{
	padding: 0px 10px;
	margin: 0px -10px 0px -12px;
}
.resizer[data-direction="horizontal"]:hover:after{
	width: 2px;
}


.resizer[data-direction="vertical"] {
	cursor: ns-resize;	
	width: 100%;
	padding: 5px 0px;
	margin: -6px 0px -5px 0px;
	z-index: 3;
	user-select: none;
	transition: 0.3s;
}
.resizer[data-direction="vertical"]:after{
	content:"";
	width: 100%;
	height: 1px;
	background: transparent;
	display: block;
	transition: 0.3s;
}
.resizer[data-direction="vertical"]:hover{
	padding: 10px 0px;
	margin: -12px 0px -10px 0px;
}
.resizer[data-direction="vertical"]:hover:after{
	height: 2px;
}

.resizer[data-direction="vertical"]:hover:after,
.resizer[data-direction="horizontal"]:hover:after{
	background: #7272776b;
}
