/* ---------- FONT ---------- */

@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../font/SourceCodePro-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(../font/SourceCodePro-Light.ttf) format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../font/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(../font/OpenSans-Light.ttf) format('truetype');
}


:root {
	--foreground: #747474;
	--background: #212121;
	--font-size: 12px;
}

/* ---------- DOCUMENT ---------- */

html{
	/*padding: 1px;*/
}

body{
	color: var(--foreground);
	font-family: 'Open Sans', sans-serif;	
	font-size: var(--font-size);
	overflow: hidden;
	margin: 6px 8px 8px 6px;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	transition: 0.2s;
	background: transparent;
}
body.fullscreen{
	margin: 0px;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	border-radius: 0px;	
	background: black;
}
#container{
	background-color: var(--background);
    border-radius: 8px;
	height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
	transition: 0.2s max-height;
	border: 1px solid #2d2d2d;
}
body.fullscreen #content{
	max-height: calc(100vh - 72px);
}


/* ---------- HEADER ---------- */

header{  
	-webkit-user-select: none;
	-webkit-app-region: drag;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

header #window-buttons{
	display: flex;
	align-items: center;
	height: 100%;
}
header #window-buttons a{
	-webkit-app-region: no-drag;
	display: block;
	width: 9px;
	height: 9px;
	border-radius: 100%;
	outline: none;
	background-color: transparent;
	border: 1px solid var(--foreground);
	transition: 0.3s;
	margin-left: 8px;
}
header #window-buttons a:hover{
	/*cursor: pointer;*/
}

header #window-buttons a#close-button:hover{
	background-color: #f44336;
	border: 1px solid #f44336;
	box-shadow: 0px 0px 30px 1px #f44336;
}
header #window-buttons a#close-button{
	/*border: 1px solid #f44336;*/
}
header #window-buttons a#min-button:hover{
	background-color: #4caf50;
	border: 1px solid #4caf50;	
	box-shadow: 0px 0px 30px 1px #4caf50;
}
header #window-buttons a#min-button{
	/*border: 1px solid #4caf50;*/
}
header #window-buttons a#max-button:hover{
	background-color: #ffeb3b;
	border: 1px solid #ffeb3b;
	box-shadow: 0px 0px 30px 1px #ffeb3b;
}
header #window-buttons a#max-button{
	/*border: 1px solid #ffeb3b;*/
}

header,
footer{
	padding: 10px 16px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	z-index: 2;
	background-color: var(--background);
}  




/* ---------- BODY ---------- */

#content{
	flex: 1;
	display: flex;
	flex-direction: column;
	max-height: calc(100vh - 86px);
}

#main-divider{
	display: flex;
	height: 100%;
	box-shadow: 0px 2px 20px #0000006e;
    z-index: 1;
	overflow: hidden;
}

#main-divider webview{
	min-width: 0;
	flex: 1;
    border: none;
	background: #ffffff04;
}

.CodeMirror{
	font-family: 'Source Code Pro', monospace;
	font-weight: 400;
	cursor: text;
    margin-right: 4px;
}

.CodeMirror-scrollbar-filler{
	background-color: transparent !important;
}

.CodeMirror-vscrollbar,
.CodeMirror-vscrollbar{
	cursor: default;
}

.CodeMirror-hints {
	backdrop-filter: blur(5px);
	background: rgba(40, 40, 40, 0.86);
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	border: none;
	padding: 0;
	font-family: inherit;
}
.CodeMirror-hint {	
	padding: 2px 6px;
	border-radius: 0px;
	color:var(--foreground);
}

.CodeMirror-selected{
	background:  #7c737344!important;
}
.cm-searching{
	background: transparent !important;
	border-radius: 1px;
    box-shadow: 0px 0px 0px 1px #ffeb3b91 inset;
}

.CodeMirror-matchingtag{
	background: transparent;
	box-shadow: 0px -1px 0px 0px #8f8f8f44 inset;
}


/* ---------- CONSOLE ---------- */
#console{
	flex: 1;
	height: 0;
	overflow-y: auto;	
	background: #191919;
	display: flex;
	flex-direction: column;
	position: relative;
}

#console #console-in,
#console #console-out{
	white-space:pre-wrap;
	box-sizing: border-box;
	display: block;
	width: 100%;	
	border: none;
	outline: none;
	margin: 0;
	background: transparent;
	font-size: var(--font-size);
	font-family: 'Source Code Pro', monospace;
}
#console #console-out{
	background: #1b1b1b;
	color: #a9a9a9;
	padding: 10px 0px;
}
#console #console-in{
	color: #ffffff;
	flex: 1;
	resize: none;
	display: inline-table;
	padding: 4px 8px;
}

#console #console-out > div{
	padding: 0px 8px;
}

#console #console-out .user{
	color: #ffffff;
    margin: 10px 0px;
	padding: 4px 8px;
    background: #1d1d1d;
}
#console #console-out .confirm{
	color: #4caf50;
}
#console #console-out .warn{
	color: #ffeb3b;
}
#console #console-out .error{
	color: #f44336;
}



/* ---------- FOOTER ---------- */

footer select{
	background: transparent;
    border: none;
    color: var(--foreground);
    outline: none;
    font-size: inherit;
    text-align-last: right;
	-webkit-appearance: none;
}

#hidden-settings{
	display: none;
}



/* ---------- STATUS ---------- */

#status-display{
	height: 2px;
	position: relative;
	z-index: 4;
}

#status-display #status-bar{
	background: transparent;
	position: absolute;
	display: block;
    height: 100%;
    left: 0;
    top: 0;
}

#status-display.confirm {animation: confirm 4s; }
#status-display.warn {animation: warn 4s; }
#status-display.error {animation: err 4s; }
#status-display #status-bar.load {
	animation: load 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes confirm {
	0% {background-color: #4caf5000;}
	3% {background-color: #4caf50;box-shadow: 0px 0px 20px 1px #4caf50}
	100% {background-color: #4caf5000;}
}

@keyframes warn {
	0% {background-color: #ffeb3b00;}
	3% {background-color: #ffeb3b;box-shadow: 0px 0px 20px 1px #ffeb3b}
	100% {background-color: #ffeb3b00;}
}

@keyframes err {
	0% {background-color: #f4433600;}
	3% {background-color: #f44336;box-shadow: 0px 0px 20px 1px #f44336}
	100% {background-color: #f4433600;}
}

@keyframes load {
	0% {width: 0%;
		left: 0%; 
		background-color: #2443f0; 
		box-shadow: 0px 0px 20px 1px #2844e0;
	}
	50% {width: 20%;background-color: #2443f0; 
		box-shadow: 0px 0px 26px 1px #2844e0;
	}
	100% {width: 0%;left: 100%;background-color: #2443f0; 
		box-shadow: 0px 0px 20px 1px #2844e0;
	}
}






.resizer[data-direction="horizontal"] {
	cursor: ew-resize;
	height: 100%;
	padding: 0px 5px;
	margin: 0px -5px 0px -6px;
	z-index: 3;
	user-select: none;
	transition: 0.3s;
}
.resizer[data-direction="horizontal"]:after{
	content:"";
	height: 100%;
	width: 1px;
	background: transparent;
	display: block;
	transition: 0.3s;
}
.resizer[data-direction="horizontal"]:hover{
	padding: 0px 10px;
	margin: 0px -10px 0px -12px;
}
.resizer[data-direction="horizontal"]:hover:after{
	width: 2px;
}


.resizer[data-direction="vertical"] {
	cursor: ns-resize;	
	width: 100%;
	padding: 5px 0px;
	margin: -6px 0px -5px 0px;
	z-index: 3;
	user-select: none;
	transition: 0.3s;
}
.resizer[data-direction="vertical"]:after{
	content:"";
	width: 100%;
	height: 1px;
	background: transparent;
	display: block;
	transition: 0.3s;
}
.resizer[data-direction="vertical"]:hover{
	padding: 10px 0px;
	margin: -12px 0px -10px 0px;
}
.resizer[data-direction="vertical"]:hover:after{
	height: 2px;
}

.resizer[data-direction="vertical"]:hover:after,
.resizer[data-direction="horizontal"]:hover:after{
	background: #7272776b;
}
