name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:  
   name: Release ${{ matrix.os }}
   runs-on: ${{ matrix.os }}    
   strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
  steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install pnpm
      uses: pnpm/action-setup@v4
      with:
        version: 10

    - name: Install dependencies
      run: pnpm install

    - name: Install Snapcraft (Linux only)
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt update
        sudo apt install -y snapd
        sudo snap install snapcraft --classic

    - name: Build & Publish Release
      run: pnpm run package
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
