name: Test Build

on: 
  push:
    branches:
    - master
    - dev

jobs:
  build:  
   name: Test Build ${{ matrix.os }}
   runs-on: ${{ matrix.os }}    
   strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
   steps:
    - name: Download Repository
      uses: actions/checkout@v2    
    - name: Install Modules
      run: npm install    
    - name: Package
      run: npm run package      
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
    - name: Echo
      run: |
        cd dist
        ls -la
    - name: Upload
      uses: actions/upload-artifact@v3
      with:
        name: ${{ matrix.os }}_artifacts
        path: |
          dist/monolith-code*
          dist/latest*.yml
